.sideBarList {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 !important;
  margin-bottom: 3px;
  height: 38px;
  box-shadow: none;
  text-align: center;
}

.deleteListButton {
  width: 12%;
  border-radius: 0 !important;
  margin-bottom: 3px;
  height: 38px;
}

.inLine {
  display: flex;
  flex-direction: row;
}
