.sideBarList {
  width: 88%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0 !important;
  margin-bottom: 3px;
  height: 41px;
  box-shadow: none;
}

.deleteButton {
  width: 12%;
  border-radius: 0 !important;
  margin-bottom: 3px;
}

.noFocus
{
  outline:none;
  box-shadow:none;
}
