.listBox {
  background-color: white;
  height: 100vh;
  width: 80%;
  left: 20%;
  position: "relative";
}

.listHeading {
  text-align: center;
}

.listElements {
  margin-top:5px
}

.listElementsDelete {
  margin-top:5px
}
