.inLine {
  display: flex;
  flex-direction: row;
}

.listBox {
  background-color:gainsboro;
  height: 100vh;
  width: 80%;
  left: 20%;
  position: "relative";
}

.listHeading {
  text-align: center;
  width:95%;
  height:77px
}

.listElements {
  margin-top:3px;
  width:85%;
  border-radius: 0 !important;
  height:41px;
  box-shadow:none;
  
}

.listElementsDelete {
  margin-top:3px;
  width:5%;
  border-radius: 0 !important;
  height:41px;
  margin-left:5%
}
